<server description="Servlet server">
    <featureManager>
        <feature>servlet-3.1</feature>
    	<feature>transportSecurity-1.0</feature>
    </featureManager>

    <httpEndpoint httpPort="${httpPort}" httpsPort="${httpsPort}" id="defaultHttpEndpoint"  host="*" />
    
    <keyStore id="defaultKeyStore" location="keystore.p12" password="changeit" type="PKCS12"/>
</server>